
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sd-image-catalog-primary: mat.define-palette(mat.$indigo-palette);
$sd-image-catalog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sd-image-catalog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sd-image-catalog-theme: mat.define-light-theme((
  color: (
    primary: $sd-image-catalog-primary,
    accent: $sd-image-catalog-accent,
    warn: $sd-image-catalog-warn,
  )
));

// -----------------------------------------------------------
$sd-image-catalog-dark-primary: mat.define-palette(mat.$light-blue-palette);
$sd-image-catalog-dark-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sd-image-catalog-dark-warn: mat.define-palette(mat.$orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sd-image-catalog-dark-theme: mat.define-dark-theme((
  color: (
    primary: $sd-image-catalog-dark-primary,
    accent: $sd-image-catalog-dark-accent,
    warn: $sd-image-catalog-dark-warn,
  )
));
@include mat.all-component-themes($sd-image-catalog-dark-theme);
// -----------------------------------------------------------



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($sd-image-catalog-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --color-primary: #{mat.get-color-from-palette($sd-image-catalog-dark-primary, 'default')};
  --color-accent: #{mat.get-color-from-palette($sd-image-catalog-dark-accent, 'default')};
  --color-warn: #{mat.get-color-from-palette($sd-image-catalog-dark-warn, 'default')};
}
