/* You can add global styles to this file, and also import other style files */
.mat-mdc-snack-bar-container
  &.blue-snackbar
    --mdc-snackbar-container-color: var(--color-warn)
    --mat-mdc-snack-bar-button-color: #000
    --mdc-snackbar-supporting-text-color: #000
